body {
    margin: 0;
    padding: 0;
}

.board {
    display: inline-block;
}

.row {
    display: flex;
    height: 30px;
}

.cell {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: white;
    width: 30px;
}

.cell.live {
    background: black;
}
